name: Tests
on: [push]

jobs:
  build:
    name: Run Python Tests
    runs-on: ubuntu-latest

    steps:

    - uses: actions/checkout@v2

    - name: Setup timezone
      uses: zcong1993/setup-timezone@master
      with:
        timezone: UTC

    - name: Set up Python 3.8
      uses: actions/setup-python@v2
      with:
        python-version: 3.8

    - name: Install constellations
      run: |
        git clone https://github.com/cov-lineages/constellations.git

    - name: Install gumpy
      run: |
        git clone https://github.com/oxfordmmm/gumpy.git
        cd gumpy
        python3 -m pip install --upgrade pip
        pip3 install -r requirements.txt
        python setup.py build --force
        pip install .
        cd ..

    - name: Install Python dependencies
      run: |
        pip3 install -r requirements.txt

    - name: Install Python module
      run: |
        pip install .

    - name: Test with pytest
      run: |
        pytest tests/unit/* --exitfirst --verbose --failed-first \
        --cov=. --cov-report html
